<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>Axios REST API communication sample</h1>

        <div id="app">
            <h2>Bitcoin Price Index</h2>
            <section v-if="errored">
                <p> Some errors occured.</p>
            </section>
            <section v-else>
                <div v-if="loading">Loading...</div>
                <div v-for="currency in info" class="currency">
                    {{ currency.description }}:
                    <span class="lighten">
                        <span v-html="currency.symbol"></span>{{currency.rate_float | currencydecimal }}
                    </span>
                </div>
            </section>
        </div>
        <script src="app.js"></script>
    </body>
</html>
